@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px;
  transition: 0.3s ease ;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {

  /* background: white; */
  background: rgb(180, 179, 179) ;
}
.dark ::-webkit-scrollbar-track {

  /* background: white; */
  background: rgb(0, 0, 0) ;
}

::-webkit-scrollbar-thumb {
  /* background: #facc15;  */
  background-color: #bd9008;

}
::-webkit-scrollbar-thumb:hover {
  /* background: #facc15;  */
  background-color: #a57e08;

}
.dark ::-webkit-scrollbar-thumb {
  /* background: #facc15;  */
  background-color: #ffffff;

}
.dark ::-webkit-scrollbar-thumb:hover {
  /* background: #facc15;  */
  background-color: #ababab;

}




@font-face {
  font-family: "Fugaz";
  src: url("../../public/fonts/Fugaz_One/FugazOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../public/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../public/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin";
  src: url("../../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alex";
  src: url("../../public/fonts/Alexandria/static/Alexandria-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alex";
  src: url("../../public/fonts/Alexandria/static/Alexandria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.pt-22{
  padding-top: 88px;
}